body{background-color:rgb(44,22,60);}
	h1{text-align:center; color:powderblue;}
button{color:red;  padding:3%,20%,20%,20%  boder:5px solid; background-color:ligh
tgreen;font-size:200%;}
	div{background-color:lightblue;  text-align:center;  display:block;}
	.tot,th,td{color:powderblue; width:100%; boder:2px solid blue; boder-collapse:collapse;}
	.nob{	    background-color:white;boder:4px solid black;}
footer{background-color:powderblue;}
	table { width:100%; bacckground-color:rgb(45,140,30);}

img{text-align:left; width:30%;}

ul{list-style-type:none;}